In [84]:
from collections import Counter

def get_lines(file: str):
    with open(file, 'r') as file:
        lines = file.readlines()
    return lines

matrix = [list(word.strip()) for word in get_lines('words.txt')]
matrix_t = [list(word) for word in zip(*matrix)]

char_counts = [Counter(word) for word in matrix_t]

In [86]:
import pandas as pd

pd.DataFrame([counter.most_common(100) for counter in char_counts]).T

            0          1          2          3          4
0   (s, 1565)  (a, 2263)  (a, 1236)  (e, 2327)  (s, 3958)
1    (c, 922)  (o, 2096)  (r, 1198)  (a, 1074)  (e, 1522)
2    (b, 909)  (e, 1628)  (i, 1051)   (t, 898)  (y, 1301)
3    (p, 859)  (i, 1383)   (o, 993)   (i, 880)   (d, 823)
4    (t, 815)  (u, 1187)   (n, 964)   (n, 788)   (t, 727)
5    (a, 737)   (r, 940)   (e, 882)   (l, 771)   (a, 680)
6    (m, 693)   (l, 699)   (l, 848)   (r, 719)   (r, 673)
7    (d, 685)   (h, 546)   (u, 667)   (o, 698)   (n, 530)
8    (g, 638)   (n, 345)   (t, 616)   (s, 516)   (l, 476)
9    (r, 628)   (y, 271)   (s, 533)   (k, 503)   (o, 389)
10   (f, 598)   (t, 239)   (m, 511)   (d, 471)   (h, 370)
11   (l, 577)   (p, 231)   (c, 392)   (g, 423)   (i, 280)
12   (h, 489)   (m, 188)   (d, 390)   (p, 418)   (k, 259)
13   (w, 413)   (c, 176)   (g, 364)   (c, 411)   (m, 182)
14   (k, 376)   (w, 163)   (p, 364)   (m, 402)   (p, 147)
15   (n, 325)    (k, 95)   (b, 335)   (u, 401)   (g, 143)
16   (e, 303)    (s, 93)   (k, 272)   (b, 243)   (c, 127)
17   (o, 262)    (d, 84)   (w, 271)   (h, 235)    (f, 82)
18   (v, 242)    (b, 81)   (v, 240)   (f, 233)    (x, 70)
19   (j, 202)    (g, 76)   (y, 213)   (v, 156)    (u, 67)
20   (u, 189)    (x, 57)   (f, 178)   (w, 128)    (w, 64)
21   (y, 181)    (v, 52)   (z, 142)   (z, 126)    (b, 59)
22   (i, 165)    (z, 29)   (x, 133)   (y, 108)    (z, 32)
23   (z, 105)    (f, 24)   (h, 120)    (j, 29)     (v, 4)
24    (q, 78)    (q, 15)    (j, 46)    (x, 12)     (q, 4)
25    (x, 16)    (j, 11)    (q, 13)     (q, 2)     (j, 3)

In [108]:
def word_is_allowed(word, ignore_chars=[], fixed_chars="     ", required_chars="     "):
    no_ignored_chars = all([c not in ignore_chars for c in word])
    matches_fixed_chars = all([c == word[i] for (i,c) in enumerate(fixed_chars) if c is not ' '])
    required_but_not_at = all([c is not word[i] for (i, c) in enumerate(required_chars) if c is not ' '])
    contains_requires = all([c in word for c in required_chars if c is not ' '])
    return no_ignored_chars and matches_fixed_chars and required_but_not_at and contains_requires


def get_word_score(word):
   return sum([
      char_counts[i][c] 
      for (i, c) in enumerate(word)
   ])


def get_best_words(ignore_chars=[], required_chars="     ", fixed_chars="     "):   
   df = pd.DataFrame(
       [
           [get_word_score(word), "".join(word)]
         for word in matrix
         if word_is_allowed(word, ignore_chars=ignore_chars, required_chars=required_chars, fixed_chars=fixed_chars)
        ],
      columns=['Score', 'Word']
   )
   return df.sort_values(by=['Score'], ascending=False)

get_best_words(
   ignore_chars=list('soresnty'),
   required_chars='ca  h',
   fixed_chars="  ac "
)

   Score   Word
0   2865  whack